.about-us__item {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-container {
    background-image: url(../img/about-us-img.jpg);    
    width: 100%;
   height: auto;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

@media (min-width: 320px) {
    .about-us__item {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .about-us__item {
        grid-template-columns: 1fr 1fr;
    }
}

.about-us__item-content{
    padding: 110px 50px 90px 50px;

}

@media (min-width: 320px) {
    .about-us__item-content{
        padding: 90px 30px;    
    }
}

@media (min-width: 1024px) {
    .about-us__item-content{
        padding: 110px 50px 90px 50px;
    
    }
}

.special-divider {
    height: 2px;
    width: 78px;
    margin: 15px 0;
}

.about-us__item-title {
    color: var(--brand_color-main-alt);
    font-size: 52px;
    font-weight: 400;
}

.about-us__item-subtitle {
    color: var(--brand_color-main-alt);
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.about-us__item-text {
    color: var(--brand_color-main-alt);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

@media (min-width: 320px) {
    .special-divider {
        height: 2px;
        width: 42px;
        margin: 15px 0;
    }  
    .about-us__item-title {
        font-size: 38px;
    }
}

@media (min-width: 1024px) {
    .special-divider {
        height: 2px;
        width: 78px;
        margin: 15px 0;
    }
    .about-us__item-title {
        font-size: 52px;
    }

}

.about-us__sotial-media-links {
    display: block;
    position: relative;
    margin: 3px;
}

.about-us__item-text {
    margin-top: 40px;
}

@media (min-width: 320px) {
    .about-us__item-text {
        margin-top: 25px;
    }
}

.navigation-social-icons-red {
    margin-top: 30px;
}


/* Vadim`s red icons */
.fa {
    font-size: 14px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    margin: 0 0px 0px 10px;
    border: 1px solid;
  }
  
  .fa:hover {
    background-color: rgb(224, 224, 224);
    color: var(--background-color);
    transition-duration: 0.2s;
  }
  
  .fa-facebook,
  .fa-instagram,
  .fa-youtube {
    color: rgb(224, 224, 224);
  }