#blog .slider {
    display: flex;
    margin: 105px 0 60px;
    max-width: 100%;
}
#blog .slider .item {
    width: 321px;
    height: 188px;
    padding: 15px;
    flex-shrink: 0;
}
#blog .slider .item .inner-item {
    border: 1px solid gray;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blog .slider .slick-arrow {
    display: flex;
    align-items: center;
}
#blog .slider .slick-arrow i {
    cursor: pointer;
    font-size: 22px;
}
#blog .slider .slick-arrow i:hover {
    transform: scale(1.05);
}
#blog .wrapper {
    padding: 50px 0 110px;
}
#blog h2 {
    font-size: 45px;
    text-align: center;
}
#blog h2 span {
    color: #f40106;
}
#blog .divider {
    margin: 20px auto;
    width: 70px;
    height: 3px;
    background-color: #717474; 
}
#blog .subheader {
    font-size: 20px;
    text-align: center;
}
#blog .blog-posts-container {
    width: 100%;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    margin-top: 50px;
    font-weight: 600;
    font-size: medium;
    padding: 2% 4%;
    white-space: wrap;
    flex-wrap: wrap;
}