* {
    margin: 0;
    padding: 0;
}

:root {
    --main-text-color: rgb(0, 0, 0);
    --background-color: rgb(50,206, 211);
    color: var(--main-text-color);
}

h2 {
    font-family: 'BebasNeue-Regular', cursive;
    font-size: 52px;
    font-weight: 400;
}

