.header__top-banner {
    color: var(--brand_color-main);
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: bold
}

.header__top-banner-contacts a {
    color: var(--brand_color-main);
    text-decoration: none;
}

.header__top-banner-contacts a:hover {
    color: var(--brand_color-main);
    text-decoration: underline;
}
















.header__banner {
    background-image: url(../img/header/head_bunner_background.jpg);
    background-size: cover;
   
}















.header__top-navigation {
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
}



.header__top-navigation {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    z-index: 10;
}


.button__head-Shop_Now {
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 18px;
    color: var(--brand_color-main-alt);
    background-color: var(--brand_color-secondary);
    display: inline-block;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    font-size: 16.5px;
    font-weight: bold;

}



.header__subheader {
    font-family: 'Bebas Neue', cursive;
    color: var(--brand_color-subtitle);
    font-size: 24px;
    font-weight: 400;
}

.header__main-banner {
    font-family: 'Bebas Neue', cursive;
    font-size: 62px;
    font-weight: 400;
    line-height: 1;

    position: relative;
    margin-left: 5%;
}

.text_brand {
    color: var(--brand_color-secondary);
}