.header__top-banner {
    background-color: var(--brand_color-secondary);
    color: var(--brand_color-main-alt);
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
}

.header__top-banner-contacts a {
    color: var(--brand_color-main-alt);
    text-decoration: none;
}

.header__top-banner-contacts a:hover {
    color: var(--brand_color-main-alt);
    text-decoration: underline;
}



.header__top-navigation-container {
    background-color: var(--background-color);
    color: var(--brand_color-main-alt);
    font-family: "PT Sans", sans-serif;
    font-size: 16px;

    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    z-index: 10;

}

.navigation-wrapper-button a {
    color: var(--brand_color-main-alt);
    text-decoration: none;
}








.header__main-page {
    background-image: url(../img/header/head_bunner_background.jpg);
    background-size: cover;
}



.header__main-page-subheader {
    font-family: 'Bebas Neue', cursive;
    color: var(--brand_color-subtitle);
    font-size: 24px;
    font-weight: 400;
}



.header__main-page-main-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 62px;
    font-weight: 400;
}

.text_brand {
    color: var(--brand_color-secondary);
}



.header__main-page-button a {
    background-color: var(--brand_color-secondary);
    color: var(--brand_color-main-alt);
    padding: 15px 26px;
    margin: 16px 0;
    text-decoration: none;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;  
}

.header__main-page-button :hover {
    background-color: var(--brand_color-main);
}

@media (min-width: 768px) {
    .shop-collection-container {
        display: flex;
    }
    .shop-collection__new-arrivals {
        flex: 5 1 auto;
    }
    .shop-collection__trainers {
        flex: 1 1 auto;
    }
    .shop-collection__trainers .shop-collection__h3 {
        margin-bottom: 73px;
    }
    .shop-collection__hotsale {
        flex: 1 1 auto;
    }
    .shop-collection__new-arrivals {
        margin-left: 40px;
    }
    .shop-collection__hotsale {
        margin-right: 40px;
    }
    .shop-collection__trainers, .shop-collection__hotsale {
        margin-left: 0;
    }
    .shop-collection__new-arrivals, .shop-collection__trainers, .shop-collection__hotsale {
        padding: 215px 33px 45px 33px;
    }
}

@media (min-width: 807px) {
    .shop-collection__trainers .shop-collection__h3 {
        margin-bottom: 14px;
    }
}

@media (min-width: 1320px) {
    .shop-collection__new-arrivals {
        margin-left: 0px;
    }
    .shop-collection__hotsale {
        margin-right: 0px;
    }
}