.header__top-line {
    width: 100%;
    height: 48px;
    background-color: var(--brand_color-secondary);

   
    
  



}

.header__top-banner {
    color: var(--brand_color-main-alt);
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;

}

.header__top-banner-tel-contacts {
    margin-left: 20px;
}

.header__top-banner-contacts {
    display: flex;
    justify-content: space-between;
}

.header__top-banner-contacts a {
    color: var(--brand_color-main-alt);
    text-decoration: none;
}

.header__top-banner-contacts a:hover {
    color: var(--brand_color-main-alt);
    text-decoration: underline;
}

.header__top-navigation-container {
    color: var(--brand_color-main-alt);
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    height: 100px;
    background-color: var(--background-color);
    width: 100%;

    
    
}



.navigation {
    display: grid;
    grid-template-columns: 20% 40% 40%;

}

.navigation-wrapper-button a {
    color: var(--brand_color-main-alt);
    text-decoration: none;
}

.navigation-wrapper {
    padding: 0px;
    margin: 10px;
    
    
}

.navigation-wrapper-button {
    display: flex;
    justify-content: space-between;
    
}


.header__main-page {
    background-image: url(../img/header/head_bunner_background.jpg);
    background-size: cover;
    height: 100vh;

}





.header__main-page-subheader {
    font-family: 'Bebas Neue', cursive;
    color: var(--brand_color-subtitle);
    font-size: 24px;
    font-weight: 400;

}

.header__main-page-main-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 124px;
    font-weight: 400;
}

.text_brand {
    color: var(--brand_color-secondary);
}

.header__main-page-button a {
    background-color: var(--brand_color-secondary);
    color: var(--brand_color-main-alt);
    padding: 15px 26px;
    margin: 16px 0;
    text-decoration: none;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-size: 16.5px;
    font-weight: 700;
}

.header__main-page-button :hover {
    background-color: var(--brand_color-main);
}