.footer-map {
    width: 100%;
    filter: grayscale(1);
}
@media(min-width: 320px) {
    

.footer-map-wraper{
    min-height: 700px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.box-on-map {
    display: flex;
    background-color: var(--brand_color-main-alt);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 15px;
    margin: 50px;
}

}

.footer-dot {
    color: var(--brand_color-secondary);
}

.footer-email {
    color: var(--paragraph_text-color);
    text-decoration: none;
}

.footer-addres {
    text-decoration: none;
    color: var(--paragraph_text-color);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.footer-addres-2 {
    color: var(--paragraph_text-color);
}

.footer-phone-number {
    text-decoration: none;
    color: var(--paragraph_text-color);
    margin: 20px;
}

.footer-bottom-nav {
    width: 100%;
    background-color: var(--brand_color-main-alt);
}

.footer-text-nav {
    color: var(--brand_color-main-alt);
}

.footer-hr-color {
    color: var(--brand_color-secondary);
}

@media(max-width: px) {

    .footer-link-icons {
        text-align: center;
    }
}

.footer-logo {
    width: 168px;
}