:root{
  --footer-nav-a-color: rgb(165, 165, 165);
  --footer-dot-color: red;
  --footer-p-color: rgb(165, 165, 165);
  --footer-hr: red;
  --footer-hr-background-color: red;
  --footer-hr-bottom-background-color: gray;
  --footer-hr-bottom: gray;
  --footer-a-color: rgb(165, 165, 165);
}
.footer-h2{
    color: var(--main-text-color);
}
.footer-red-button{
    color: var(--footer-red-button-color);
}
.footer-p-color{
    color: var(--footer-p-color);
}
.footer-hr{
    border: none;
    background-color: var(--footer-hr-background-color);
    color: var(--footer-hr-background-color);
    height: 4px;
}
.footer-hr-bottom{
    border: none;
    background-color: var(--footer-hr-bottom-background-color);
    color: var(--footer-hr-bottom-background-color);
    height: 2px;
}
.footer-a{
    color: var(--footer-a-color);
    text-decoration: none;
}
footer-nav{
    color: var(--footer-nav-a-color);
}
footer-nav a:hover{
    text-decoration: none;
    transition: background-color .3s;
    color: var(--footer-nav-a-color);
}
