.footer-map {
    background-repeat: no-repeat;
}

.footer-logo {
    width: 168px;
}

.box-on-map {
    background-color: var(--brand_color-secondary);
    display: block;
}

@media(max-width: 767px) {

    .box-on-map {
        display: block;
        text-align: center;
        width: 700px;
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.footer-dot{
    color: var(--brand_color-secondary);
}
.footer-phone-number {
    margin-top: 25px;
}
.footer-addres{
    margin-top: 25px;
}
.footer-email{
    margin-top: 25px;
}