.learn-more {
    background-image: url(../img/learn-more/learn-more.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    height: 781px;
    padding-top: 115px;
    padding-bottom: 115px;
}

.learn-more__content {

    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--brand_color-main-alt);
}

.learn-more__content-left {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0 24px 0 24px;

}

.learn-more__content-original__brands {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    opacity: .5;
}

.learn-more__content-keep__fit-with__comfort {
    display: flex;
    justify-content: center;
    font-size: 124px;
    text-align: left;
    line-height: 124px;
}



.learn-more__content-description {
    display: flex;
    justify-content: flex-start;
    color: var(--brand_color-main-alt);
    font-size: 18px;
    line-height: 1.7;
    text-align: left;
    margin: 20px 120px 0 0;
    padding-right: 24px;
    font-weight: 250;
}

.learn-more__content-benefits {

    text-align: left;
    color: var(--brand_color-main-alt);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: grid;
    grid-template-columns: 120px 170px 180px;
}

.learn-more__content-benefits__top_brands {
    display: flex;
    justify-content: start;
}

.learn-more__content-benefits__top-brands__icon {
    content: url(../img/learn-more/icon.svg);
    width: 24px;
    height: 24px;

}

.learn-more__content-benefits__return {
    display: flex;
    justify-content: start;
}

.learn-more__content-benefits__return__icon {
    content: url(../img/learn-more/icon.svg);
    width: 24px;
    height: 24px;
}

.learn-more__content-benefits__delivery {
    display: flex;
    justify-content: start;
}

.learn-more__content-benefits__delivery__icon {
    content: url(../img/learn-more/icon.svg);
    width: 24px;
    height: 24px;
}


.learn-more__button-container {

    max-width: fit-content;
    line-height: 22px;
    border: 2px var(--brand_color-main-alt) solid;
    margin-top: 35px;

}

.learn-more__button {
    display: flex;
    justify-content: flex-start;
    font-family: "PT Sans", sans-serif;
    color: var(--brand_color-main-alt);
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    padding: 18px 30px;
}

.learn-more__button:hover {
    color: var(--brand_color-main);
    background-color: var(--brand_color-main-alt);
}

@media (max-width: 994px) {
    h2.learn-more__content-keep__fit-with__comfort {
        font-size: 93px;
    }
}

@media (max-width: 767px) {
    h2.learn-more__content-keep__fit-with__comfort {
        font-size: 62px;
        line-height: 62px;
        justify-content: left;
    }
}

@media(max-width: 700px) {
    .learn-more__content-benefits__top_brands {
        display: block;
        grid-column: 1/1;
    }

    .learn-more__content-benefits__delivery {
        display: block;
        grid-column: 2/1;
        width: 150px;
    }

    .learn-more__content-benefits__return {
        display: block;
        grid-column: 3/1;

    }
}

@media(max-width: 700px) {
    .learn-more__content-left {
        display: grid;
        grid-template-columns: 1% 99%;
        padding: 0 24px 0 24px;

    }
}