

.offers__text-saleUP{
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: "Bebas Neue",cursive;
    font-weight: 400;
    color: var(--brand_color-main-alt);
    font-size: 24px;
}
.offers__text-saleDOWN{
    color: var(--brand_color-main-alt);
    text-decoration: none;
    font-family: "Bebas Neue",cursive;
    font-size: 14px;
    font-weight: 400;
}
.offers__body-img{
    width: 80%;
    height: 570px;
}
.special-dot{
    font-family: "Bebas Neue",cursive;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 20px;
}
.main-collection__text{
    margin-bottom: 50px;
    font-size: 34px;
    font-family: "Bebas Neue",cursive;
    display: inline;
}
.main-collection__head{
    margin-top: 115px;
    justify-content: center;
    font-family: "PT Sans",cursive;
    text-align: center;
}
.main-collection__head:after{
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    margin: 0 auto;

    background-color: var(--line-color);
}
.main-collection__head2{
    margin-top: 15px;
    display: grid;
    justify-content: center;
    font-family: "PT Sans",cursive;
    text-align: center;
}
.main-collection__display-container{
    display: grid;
    justify-content: center;
    margin: 0 25px;
}
.main-collection__display-container__body-img{
    width: 272px;
    height: 272px;
}
.main-collection__display-container__body-name{
    margin-top: 25px;
    font-family: "PT Sans",cursive;
    color: var(--paragraph_text-color);
    font-size: 18px;
}
.main-collection__display-container__body-price{
    font-size: 18px;
    margin-top: 25px;
    font-family: "PT Sans",cursive;
    color: var(--brand_color-secondary);
    font-weight: 700;
}
.main-collection__display-container__body-button{
    margin-top:25px;
    margin-bottom: 50px;
    font-family: "PT Sans",cursive;
    background-color: var(--brand_color-main);
    color: var(--brand_color-main-alt);
    font-size: 15px;
    font-weight: 700;
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-collection__display-container__body-button:hover{
    background-color: var(--brand_color-secondary);
}
.main-collection__display-type__text{
    font-size: 16px;
    text-decoration: none;
    color: var(--paragraph_text-color);
    font-family: "PT Sans", cursive;
    padding: 0 20px;
}
.main-collection__display-type__text:after{
    content: "";
    display: block;
    width:90%;
    height: 2px;
    margin-top: 26px;
    background-color: var(--brand_color-secondary);
}
.main-collection__display-type{
    display: flex;
    justify-content: center;
    margin:100px 25px 0 25px ;
}
.main-collection__display-type-underline{
    content: "";
    display: block;
    width: 262px;
    height: 1px;
    margin: -1px auto 50px auto;

    background-color: var(--line-color);
}

.offers__body{
    text-align: center;
    margin-top: 50px;
    width: 290px;
    height: 184px;
}
.offers__text{
    margin-left: 15px;
    width: 260px;
    height: 110px;
    opacity: 0.8;
    margin-top: 55px;
    background-color: var(--brand_color-main);
}
#offers__body_1{
    background-image: url("../img/main-collection/red_T-shir_black_men.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#offers__body_2{
    background-image: url("../img/main-collection/grey_hoody_with_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#offers__body_3{
    background-image: url("../img/main-collection/red-green_sneakers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.offers__container{
    display: grid;
    justify-content: center;
    gap: 5px;
}
.main-collection__text-down{
    display: grid;
    justify-content: center;
    width: 270px;
    font-size: 20px;
    font-family: "PT Sans",cursive;
    color: var(--paragraph_text-color);
}
@media screen and (min-width: 767px) and (max-width: 1023px ){
    .offers__container{
        grid-template-columns: repeat(2 , 350px);
        grid-auto-rows: 220px;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }
    #offers__body_3{
        width: 720px;
        height: 460px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .offers__body{
        width: 350px;
        height: 220px;
        display: grid;
        justify-content: center;
    }
    .offers__text{
        margin-top: 100px;
        width: 310px;
        height: 105px;
        opacity: 0.8;
        background-color: var(--brand_color-main);
    }
    #offers__text_3{
        margin-top: 320px;
        width: 610px;
        height: 105px;
        opacity: 0.8;
        background-color: var(--brand_color-main);
    }
    .main-collection__text-down{
        width: 700px;
    }
    .main-collection__display-type__text{
        font-size: 16px;
        color: var(--paragraph_text-color);
        letter-spacing: 5px;
        padding: 0 20px;
    }
    .main-collection__head:after{
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        margin: 0 auto;

        background-color: var(--background-color-underline-text);
    }
    .main-collection__display-container__body-img{
        width: 350px;
        height: 350px;
    }
    .main-collection__display-container__body{
        margin: 0 auto 0 auto;
    }
    #main-collection__display-container__body__3{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .main-collection__display-container{
        display: grid;
        grid-template-columns: 380px 380px;
        justify-content: center;

    }

}
@media screen and (min-width: 1024px ) {
    .offers__container{
        display: flex;
    }
    .offers__body{
        width: 500px;
        height: 300px;
        margin: 30px 20px -40px 20px ;
    }
    .offers__text{
        margin-top: 160px;
        width: 432px;
        height: 125px;
    }
    .offers__text-saleUP{
        font-size: 36px;
    }
    .offers__text-saleDOWN{
        font-size: 16px;
    }
    .main-collection__text{
        font-size: 54px;
    }
    .main-collection__text-down{
        width: 1000px;
    }
    .special-dot{
        font-family: "Bebas Neue",cursive;
        font-size: 54px;
    }
    .main-collection__head:after{
        width: 90px;
        height: 2px;
    }
    .main-collection__display-type__text{
        font-size: 16px;
    }
    .main-collection__display-type-underline{
        width: 1200px;
    }
    .main-collection__display-container{
        display: flex;
    }
    .main-collection__display-container__body{
        margin: -20px 30px 0 30px;
    }
    .main-collection__display-container__body-img{
        width: 370px;
        height: 370px;
    }

}
