

.offers__text-saleUP{
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: "PT Sans",cursive;
    color: var(--brand_color-main-alt);
    /*font-size: 36px;*/
}
.offers__text-saleDOWN{
    color: var(--brand_color-main-alt);
    text-decoration: none;
    font-family: "PT Sans",cursive;
    /*font-size: 14px;*/
}

.offers__container{
    display: grid;
    gap: 5px;
}
.offers__body{
    text-align: center;
}
.offers__body-img{
    width: 80%;
    height: 570px;
}
/*.special-dot already declared in common.css file*/
/*.special-dot{
    font-family: "PT Sans",cursive;
    display: inline-block;
}*/
.main-collection__text{
    font-family: "PT Sans",cursive;
    display: inline-block;
}
.main-collection__head{
    margin: 100px;
    font-family: "PT Sans",cursive;
    text-align: center;
}
.main-collection__display-container{
    text-align: left;
    margin-left: 15%;
}
.main-collection__display-container__body-name{
    margin-top: 75px;
    font-family: "PT Sans",cursive;
    color: var(--paragraph_text-color);
}
.main-collection__display-container__body-price{
    margin-top: 50px;
    font-family: "PT Sans",cursive;
    color: var(--brand_color-secondary);
    font-weight: 700;
}
.main-collection__display-container__body-button{
    margin-top:75px;
    margin-bottom: 100px;
    font-family: "PT Sans",cursive;
    background-color: var(--brand_color-main);
    color: var(--brand_color-main-alt);
    font-size: 36px;
    font-weight: 700;
    width: 300px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-collection__display-container__body-button:hover{
    background-color: var(--brand_color-secondary);
}
.main-collection__text{
    margin: 100px 0 100px 100px;
}
/* --need fixed "a" and "nav"--
a{
    font-size: 36px;
    text-decoration: none;
    color: var(--paragraph_text-color);
    letter-spacing: 5px;
    padding: 0 10px;
    text-decoration: none; 
}
 
nav{
    display: flex;
    justify-content: space-around;
    margin: 50px; 
}*/
.offers__body{
    width: 780px;
    height: 570px;
}
.offers__text{
    margin-left: 40px;
    width: 700px;
    height: 300px;
    opacity: 0.8;
    margin-top: 220px;
    background-color: var(--brand_color-main);
}
#offers__body_1{
    background-image: url("img/main-collection/red_T-shir_black_men.jpg");
}
#offers__body_2{
    background-image: url("img/main-collection/grey_hoody_with_back.jpg");
}
#offers__body_3{
    background-image: url("img/main-collection/red-green_sneakers.jpg");
}
.offers__container{
    display: flex;
    margin-left: 10%;
    flex-direction: column;
}