.shop-now {
    background-image: url(../img/shop-now/shop_now_background.png);
    background-position: 75% 25%;
    min-height: 1000px;
    width: auto;
}
.shop-now__subheader, .shop-now__h2 {
    font-family: "Bebas Neue", cursive;
}
.shop-now__subheader {
    color: var(--background-subheader-color);
    font-size: 22px;
    font-stretch: 100%;
    line-height: 30px;
}
.shop-now__h2 {
    color: var(--background-color);
}
.shop-now__button {
    font-family: "PT Sans", sans-serif;
}