.shop-now {
    background-image: url(../img/shop-now/shop_now_background.png);
    background-size: cover;
    background-position: 35.63% 82.12%;
    min-height: 425px;
    width: auto;
    margin-bottom: 70px;
}

@media (min-width: 768px) {
    .shop-now {
        min-height: 640px;
    }
}
@media (min-width: 992px) {
    .shop-now {
        min-height: 803px;
    }
}

.shop-now__text {
    padding: 110px 24px 110px 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop-now__subheader,
.shop-now__h2 {
    font-family: "Bebas Neue", cursive;
}

.shop-now__subheader {
    color: var(--paragraph_text-color);
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}

.shop-now__h2 {
    color: var(--brand_color-main-alt);
    font-size: 62px;
    font-weight: 400;
    line-height: 62px;
    margin-top: 20px;
    margin-bottom: 35px;
}

@media (min-width: 768px) {
    .shop-now__h2 {
        font-size: 92px;
        padding-right: 315px;
        line-height: 1;
    }
}
@media (min-width: 992px) {
    .shop-now__h2 {
        font-size: 124px;
    }
}

.shop-now__button {
    font-family: "PT Sans", sans-serif;
    color: var(--brand_color-main);
    font-size: 17px;
    text-decoration: none;
    font-weight: 700;
    line-height: 22px;
}

.shop-now__conteiner {
    max-width: fit-content;
    background-color: var(--brand_color-main-alt);
    padding: 18px 30px;
    margin: 10px;
}

.shop-now__conteiner:hover {
    background-color: var(--brand_color-main);
}

.shop-now__button:hover {
    color: var(--brand_color-main-alt)
}