.collection__a {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 700;
}

.collection__a:hover {
    text-decoration: underline;    
}