.shop-now {
    background-image: url(../img/shop-now/shop_now_background.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    width: auto;
}
.shop-now__subheader, .shop-now__h2 {
    font-family: "Bebas Neue", cursive;
}
.shop-now__subheader {
    color: var(--background-subheader-color);
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}
.shop-now__h2 {
    color: var(--background-color);
    font-size: 62px;
    font-weight: 400;
    line-height: 62px;
}
.shop-now__button {
    font-family: "PT Sans", sans-serif;
    color: var(--header-color);
    font-size: 17px;
    text-decoration: none;
    font-weight: 700;
    line-height: 22px;
}
.shop-now__button:hover {
    color: var(--background-color)
}