@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.deal-of-the-month{
    text-align: center;
    background-color:black;
    color: white;
}
.deal-of-the-month h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 52px;
    font-weight: 400;
}
.deal-of-the-month h6{
    font-family: 'Bebas Neue';
    font-size: 15px;
    /* //font-weight: */
}
.deal-of-the-month p{
    /* font-family: 'Bebas Neue', lighter; */
}
.more-details{
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
}
.dollar50{
    color: red;
    font-size: 30px;
}
.dollar70{
    color: white;
    font-size: 20px;
    text-decoration: line-through;
}
.red-dot{
    color: red;
    /* font-size: 80px; */
}
.white-block{
    background-color: white;
}
.new-arrivals h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    font-weight: 400;
}
.new-arrivals p{
    color: gray;
    font-size: 15px;
}
.more-products-button{
    color: black;
    border: 2px solid black;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    background-color: white;
    /* margin-top:  */

}
.products{
    color: white;
    text-align: center;
}
.product-item h5{
    color: black;
}
.item-price {
    color: red;
    font-weight: bold;
}
.add-to-cart{
    padding: 15px 25px;
    background-color: black;
    color: white;
}
