@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.learn-more {
    background-image: url(../img/learn-more/learn-more.jpg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    text-align: right;

}

.learn-more__content {

    margin-left: 40%;
    justify-content: flex-end;
    color: var(--brand_color-main-alt);
}

.learn-more__content-original__brands {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    opacity: .5;
}

.learn-more__content-keep__fit-with__comfort {
    display: flex;
    justify-content: center;
    font-size: 124px;
    text-align: left;
}



.learn-more__content-description {
    display: flex;
    justify-content: flex-start;
    color: var(--brand_color-main-alt);
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    margin:20px 20px 0 0;
}

.learn-more__content-benefits {
    
    text-align: left;
    color: var(--brand_color-main-alt);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;

}

.learn-more__content-benefits__top-brands__icon {
    content: url(../img/learn-more/icon.svg);
    width: 24px;
    height: 24px;
    
}

.learn-more__content-benefits__return__icon {
    content: url(../img/learn-more/icon.svg);
    width: 24px;
    height: 24px;
}

.learn-more__content-benefits__delivery__icon {
    content: url(../img/learn-more/icon.svg);
    width: 24px;
    height: 24px;
}


.learn-more__button{
    text-decoration: none;
    color: var(--brand_color-main-alt);
    border: 2px solid white;
    padding: 18px 30px 18px 30px;
    display: flex;
    justify-content: center;
    max-width: 90px;
    margin-top: 15px;
}

.learn-more__button-content {}