.learn-more {
    height: 100%;
    min-height: 100vh;
    background-image: url(../img/learn-more/learn-more.jpg);
    color: white;
}
.learn-more__content{
    border: 3px solid white;
    text-align: right;
    margin-left: 50%;
    padding-top: 90px;
    padding-right: 40px;
    

}
.learn-more__content-h2{
   
    font-size: 124px;
    vertical-align: baseline;
}
.original_brands{
   
    margin-top: auto;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    opacity: .5;
}
.button_position-7{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    
}