@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.learn-more {
    height: 100%;
    min-height: 100vh;
    background-image: url(../img/learn-more/learn-more.jpg);
    color: white;
}
.learn-more__content{
    border: 3px solid white;
    text-align: right;
    margin-left: 50%;
    padding-top: 90px;
    padding-right: 40px;
    
}
.learn-more__content-h2__position-2{
   
    font-size: 124px;
    vertical-align: baseline;
    
}
.learn-more__content-div__position-5{
    display: inline;
    color: rgb(255, 255, 255);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;

}
.original_brands__position-6{
   
    margin-top: auto;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    opacity: .5;
}
.button_position-7{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    
}