border-color {
    --line-color: #9B9B9B;
}

.why-choose-us {
    text-align: center;
}

.why-choose-us-divider {
    border: none;
    background-color: var(--line-color);
    height: 2px;
    width: 5%;
    margin: auto;
}

why-choose-us__p {
    color: var(--paragraph_text-color);
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}