.footer-logo {
    width: 168px;
}

.box-on-map {
    background-color: var(--brand_color-secondary);
}

@media(min-width: 320px) {

    .box-on-map {
        text-align: center;
        margin-top: px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.footer-dot {
    color: var(--brand_color-secondary);
}

.footer-addres {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.footer-phone-number {
    margin: 20px;
}

.footer-bottom-nav{
    color: var(--background-color);
}

.footer-text-nav{
    color: var(--brand_color-main-alt);
}

.footer-hr-color{
    color: var(--brand_color-secondary);
}

@media(max-width: px) {

.footer-link-icons{
    text-align: center;
}
}